---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardAnimation from "../components/CardAnimation";
import Cursor from "../components/Cursor.astro";
import Contact from "../components/Contact.astro"
import Hoja from "../components/Hoja.astro"
import Cards from "../components/Cards.astro";
---

<Layout title="Welcome to Astro.">
	<div class="contenedor-h">
		<Cursor client:load />
	</div>
  <Hoja client:load/>
  <section class="head">
    <div class="container row">
      <div class="col-md-4">
        <Cards />
      </div>
      <div class="col-md-4">
        <Cards />
      </div>
    </div>
  </section>

 <Contact/>
</Layout>
<style>
	.contenedor-h{
		
		position: fixed;
	}
	
  .head {
    background-image: url("/arbolito.png");
    height: 150dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .col-md-4 {
    justify-content: center;
    margin: 0 auto;
  }
 
</style>
